---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=Pueblo,%20CO&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer J7j0eqg96pj-Mlb__TJa3otI5bjwtm2wmKI7Xqa9aNz1Aa5N-gqnTdRCPHP3kaSOmWhc_qzph0XCFykAZ5yPOOTDaM9t0a1jyYlLtJw6JBfquPSHyCVcRNMRpN7zX3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4999'
      X-Zipkin-Id:
      - '008db93531cff367'
      Ratelimit-Resettime:
      - '2021-01-20T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-5b584d59bc-bsjss; site=public_api_v3
      X-Proxied:
      - 10-69-127-167-uswest2aprod
      X-Extlb:
      - 10-69-127-167-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "kQxM1xlaZfQmXpKaqMTNnw", "alias": "wonderful-bistro-pueblo",
        "name": "Wonderful Bistro", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/EIPRzs68vSrQ_2tCf5pQNw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/wonderful-bistro-pueblo?adjust_creative=o30dTOBqBTK7Gs3mtt7baA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=o30dTOBqBTK7Gs3mtt7baA",
        "review_count": 64, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 4.0, "coordinates": {"latitude": 38.319366, "longitude": -104.616623},
        "transactions": ["delivery"], "price": "$$", "location": {"address1": "4602
        N Elizabeth St", "address2": "Ste 120", "address3": "", "city": "Pueblo",
        "zip_code": "81008", "country": "US", "state": "CO", "display_address": ["4602
        N Elizabeth St", "Ste 120", "Pueblo, CO 81008"]}, "phone": "+17195440233",
        "display_phone": "(719) 544-0233", "distance": 6632.28027227077}], "total":
        20, "region": {"center": {"longitude": -104.5733642578125, "latitude": 38.27035217485165}}}'
  recorded_at: Tue, 19 Jan 2021 18:37:26 GMT
recorded_with: VCR 6.0.0
