---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=openweather_key>&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1610942190,"sunrise":1610893087,"sunset":1610928108,"temp":40.41,"feels_like":35.06,"pressure":1010,"humidity":48,"dew_point":23.4,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":1.01,"wind_deg":17,"wind_gust":5.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1610942220,"precipitation":0},{"dt":1610942280,"precipitation":0},{"dt":1610942340,"precipitation":0},{"dt":1610942400,"precipitation":0},{"dt":1610942460,"precipitation":0},{"dt":1610942520,"precipitation":0},{"dt":1610942580,"precipitation":0},{"dt":1610942640,"precipitation":0},{"dt":1610942700,"precipitation":0},{"dt":1610942760,"precipitation":0},{"dt":1610942820,"precipitation":0},{"dt":1610942880,"precipitation":0},{"dt":1610942940,"precipitation":0},{"dt":1610943000,"precipitation":0},{"dt":1610943060,"precipitati[...]
