---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/images/search?color=ColorOnly&count=1&imageType=Photo&q=Denver,%20CO&safeSearch=strict
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - '08081966968c49dfa5e4ca4a334f2713'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - 6BBC6C19381548509C3AFB7D3A9D1660
      X-Msedge-Clientid:
      - 1380A67B2A6F6A3C395FA9B82B236B20
      X-Msapi-Userstate:
      - f800
      X-Search-Responseinfo:
      - InternalResponseTime=206,MSDatacenter=CO4
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "Images", "instrumentation": {"_type": "ResponseInstrumentation"},
        "readLink": "images\/search?q=Denver, CO", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Denver,
        CO&FORM=OIIARP", "queryContext": {"originalQuery": "Denver, CO", "alterationDisplayQuery":
        "denver colorado", "alterationOverrideQuery": "+Denver, CO", "alterationMethod":
        "AM_JustChangeIt", "alterationType": "CombinedAlterationsChained"}, "totalEstimatedMatches":
        100, "nextOffset": 1, "currentOffset": 0, "value": [{"webSearchUrl": "https:\/\/www.bing.com\/images\/search?view=detailv2&FORM=OIIRPO&q=Denver%2c+CO&id=E4476136FB84E1A966AB73296D849DA8DF905671&simid=607991842986658274",
        "name": "Denver - Wikipedia", "thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OIP.V0qyOjB9QlqzKs2nIw2JQwHaE5&pid=Api",
        "datePublished": "2020-05-09T05:48:00.0000000Z", "isFamilyFriendly": true,
        "creativeCommons": "AttributionShareAlike", "contentUrl": "https:\/\/upload.wikimedia.org\/wikipedia\/commons\/thumb\/e\/e8\/Denver_skyline.jpg\/1200px-Denver_skyline.jpg",
        "hostPageUrl": "https:\/\/en.wikipedia.org\/wiki\/Denver", "contentSize":
        "257443 B", "encodingFormat": "jpeg", "hostPageDisplayUrl": "https:\/\/en.wikipedia.org\/wiki\/Denver",
        "width": 1200, "height": 794, "hostPageFavIconUrl": "https:\/\/www.bing.com\/th?id=ODF.0QY68YH-YG5V7ZPdW4ZxaQ&pid=Api",
        "hostPageDomainFriendlyName": "Wikipedia", "hostPageDiscoveredDate": "2015-06-14T00:00:00.0000000Z",
        "thumbnail": {"width": 474, "height": 313}, "imageInsightsToken": "ccid_V0qyOjB9*cp_C255CC5E181898B8784AECBD59FF9CD4*mid_E4476136FB84E1A966AB73296D849DA8DF905671*simid_607991842986658274*thid_OIP.V0qyOjB9QlqzKs2nIw2JQwHaE5",
        "insightsMetadata": {"pagesIncludingCount": 118, "availableSizesCount": 74},
        "imageId": "E4476136FB84E1A966AB73296D849DA8DF905671", "accentColor": "0177CA"}],
        "queryExpansions": [{"text": "City Park Denver Co", "displayText": "City Park",
        "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=City+Park+Denver+Co&tq=%7b%22pq%22%3a%22Denver%2c+CO%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22Denver%2c+CO%22%2c%22pv%22%3a%22Denver%2c+CO%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22City+Park%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=IRPATC",
        "searchLink": "https:\/\/api.bing.microsoft.com\/api\/v7\/images\/search?q=City+Park+Denver+Co&tq=%7b%22pq%22%3a%22Denver%2c+CO%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22Denver%2c+CO%22%2c%22pv%22%3a%22Denver%2c+CO%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22City+Park%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d",
        "thumbnail": {"thumbnailUrl": "https:\/\/tse2.mm.bing.net\/th?q=City+Park+Denver+Co&pid=Api&mkt=en-US&adlt=strict&t=1"}},
        {"text": "Denver Co[...]
